language: scala
os:
  - linux
script:
  - sbt ++$TRAVIS_SCALA_VERSION scripted
scala:
  - 2.10.6
jdk:
  - openjdk8
sudo: false
notifications:
  email:
    - krzysztof.otrebski@gmail.com
cache:
  directories:
  - $HOME/.sbt/0.13
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/cache
  - $HOME/.sbt/launchers
  - $HOME/.ivy2
before_cache:
  - du -h -d 1 $HOME/.ivy2/
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete