<configuration>

    <appender name="FILE_XML" class="ch.qos.logback.core.FileAppender">
        <file>target/test.log.xml</file>
        <append>false</append>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.log4j.XMLLayout">
                <locationInfo>true</locationInfo>
            </layout>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test.log</file>
        <append>false</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS}|%5.5level|%40.40logger{36}]|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.cxf.interceptor.LoggingInInterceptor" level="WARN"/>

    <root level="DEBUG">
        <appender-ref ref="FILE_XML"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
